*{
    margin: 0;
    padding: 0;
    color: white;
}
.jumbotron{
    text-align: center;
    margin: 0;
}
.option{
    display: inline-block;
    width: 300px;
    border: 2px solid black;
    margin: 20px;
    background-color: darkslategray;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
}
form, p{
    margin: 15px;
}
.footer{
    background-color: rgb(53, 53, 53);
    max-height: 300px; 
}
.history{
    overflow: auto;
}
h6{
    padding: 5px;
}
.green{
    color: gold;
}
.red{
    color: red;
}
.win{
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 5px;
    text-align: center;
    background-color: black;
}